main > * {
    display: grid;
    border: 1px solid black;

    & > * {

    }
}

/* Mondrian Grid #1 */
.mondrian-one {
    grid-template-columns: 1fr 2fr 100px;
    & > * {
        min-height: 300px;
        border: 1px solid black;
    }
}